*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --navbar-height: 60px;
    --sidebar-width: 150px;
    --sidebar-mobile-width: 70px;
}

header{
    height: var(--navbar-height);
    background-color: violet;
}

.mainWrapper{
    height: 100%;
    background-color: aquamarine;
}

.sideBar{
    width: var(--sidebar-width);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    display: none !important;
}

.sideBarMobile{
    width: var(--sidebar-mobile-width);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.mainContent{
    width: 100%;
    background-color: green;
    height: 100%;
}

main{
    height: calc(100vh - (var(--navbar-height)));
}

.bgBlue{
    background-color: #1b72e8;
}

.bgShade{
    background-color: rgba(0, 0, 0, 0.233);
}

.bgGreen{
    background-color: #198754;
}

.bgRed{
    background-color: #dc3545;
}

.bgYellow{
    background-color: #ffc107;
}

.fs3{
    font-size: 3rem;
}

.cellWidth8{
    width: 8rem;
}

.cellWidth5{
    width: 5rem;
}

.bgA{
    background-color: orange;
}
.bgB{
    background-color: yellow;
}

.bigTable{
    display: none;
}

.smallLogo{
    height: 40px;
}

.badgers{
    display: none;
}

.bigLogo{
    display: none;
}

.classLogo{
    height: 20px;
    aspect-ratio: 1/1;
    background-image: url(../img/class-avatar.jpg);
    background-size: contain;
}

.offcanvas{
    min-width: 50%;
}
@media screen and (min-width: 576px) { 
    .bigTable{
        display: table-cell;
    }
}

@media screen and (min-width: 992px) { 
    .smallLogo{
        display: none;
    }
    .bigLogo{
        display: inline-block;
    }
    .sideBar{
        display: flex !important;
    }
    .sideBarMobile{
        display: none !important;
    }
    .badgers{
        display: block;
    }
    .badgersMobile{
        display: none;
    }
}